<p><a href="">Full paper</a> - <a href="">bibtex</a></p>

<h2 id="toc_0">tl;dr <small>(too long; didn&#39;t read)</small></h2>

<h2 id="toc_1">Abstract</h2>

<p>Abstract</p>

<h2 id="toc_2">Review</h2>

<h3 id="toc_3">Pros</h3>

<p>pros</p>

<h3 id="toc_4">Cons</h3>

<p>cons</p>

<h2 id="toc_5">Notes</h2>

<p>Notes</p>

<h2 id="toc_6">Diagrams</h2>

<p>The following are relevant diagrams from the paper. Several diagrams and performance graphs have been omitted, see the paper
for details.
<br /></p>

<h3 id="toc_7">Overall Dare System Architecture</h3>

<p><img class="paper_diagram" src="/assets/media/papers/reviews/droidscope//fig2.png"></p>

<p><br />
<br /></p>
